/* Your button CSS file */
.btn-medium {
border-radius: 50px;
border: 1px solid #999999;
color: #999999;
padding: 15px 25px;
opacity: .6;
}

.btn-medium:hover {
border-color: #3b3b3b;
color: #3b3b3b;
}

.btn-treehouse {
background-color: #6AD58B;
color: white;
font-weight: bold;
padding: 15px 25px;
}

.btn-treehouse:hover {
transition-duration: 1s;
background-color: #3ac162;
}

.btn-yours {
border: 2px solid black;
padding: 15px 25px;
/* background-color: rgba(137, 43, 226, 0.678); */
color: rgb(255, 255, 255);
text-shadow: 0 1px rgb(26, 26, 26);
font-style: italic;
background-image: linear-gradient(rgba(137, 43, 226, 0.678), rgba(122, 12, 224, 0.678));
border-radius: 40px;
}

.btn-yours:hover {
  background-color: rgb(137, 43, 226);
  color: rgb(255, 255, 255);
  transition-duration: 1s;
}
